@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color {
    @apply text-transparent bg-clip-text bg-violet-700 inline-block;
}

body {
    background-color: black;
}

.backdrop-blur-md {
    backdrop-filter: blur(10px);
}

/* Import slick-carousel CSS for styling */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

.font-raleway {
    font-family: 'Raleway', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


.font-vt323 {
    font-family: 'VT323', monospace;
}
